html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

li {
    display: inline-block;
}

ul {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

a {
    text-decoration: none;
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    line-height: 48px;
}

.ruble {
    font-size: 0.6em;
}

.pt-120 {
    padding-top: 120px;
}

.pb-120 {
    padding-bottom: 120px;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.contact-email::before,
.contact-phone::before {
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: "icomoon";
    font-size: 14px;
}

.small-text {
    display: block;
    line-height: 24px;
    color: #fff;
}

.blue-text {
    color: #267ae9;
}

.coral-text {
    color: #ea3700;
}

.light__green-text {
    color: #00e2aa;
}