@import "libs";
@import "fonts";
@import "global";


.pre-header {
    background-color: #2f3f54;
    min-height: 50px;

    &__inner {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contact {
        display: flex;
        color: #7b828d;

        div+div {
            margin-left: 45px;
        }

        &-email {
            padding-left: 25px;
            position: relative;

            &::before {
                content: '\f003';
            }
        }

        &-phone {
            padding-left: 25px;
            position: relative;

            &::before {
                content: '\f095';
            }

        }

    }

    .user-nav {
        color: #6e7988;


        .localization {
            padding-left: 25px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                background-image: url('../img/russia.svg');
                width: 16px;
                height: 16px;
                color: #fff;
            }
        }

        &__item {
            a {
                color: #6e7988;
            }
        }


        li+li {
            margin-left: 20px;
        }
    }
}

.header {
    min-height: 85px;

    &__inner {
        height: 85px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu {

        li+li {
            margin-left: 40px;
        }

        li a {
            color: #2f3f54;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

.hosting {
    min-height: 835px;
    background-image: url('../img/bg-pattern.png');

    &__inner {
        position: relative;
    }

    &__info {
        color: #fff;
        padding-top: 165px;


        &-title {
            font-size: 48px;
            line-height: 52px;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            margin-bottom: 25px;

        }

        &-price {
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 700;
        }

        &-menu {
            margin: 40px 0 50px;
            font-weight: 700;

            li {
                display: block;
                padding-left: 25px;
                position: relative;

                &::before {
                    content: '\f046';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    font-family: "icomoon";
                    color: #000;
                }
            }

            li a {
                color: #fff;
                font-size: 15px;
                line-height: 27px;
                font-weight: 700;

            }
        }

        &-btn {
            color: #fff;
            padding: 15px 45px;
            display: inline-block;
            border: 3px solid #fff;
            border-radius: 24px;
            background-color: #267ae9;
            margin-bottom: 15px;
            text-transform: uppercase;

        }
    }

    .imgs-wrapper {
        position: absolute;
        right: 5%;
        top: 37%;

        .large-server {
            margin-left: 30px;
        }

        .circle__info {
            width: 229px;
            height: 229px;
            border-radius: 50%;
            background-color: #fff;
            position: absolute;
            right: -137px;
            top: -68px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-price {
                font-size: 54px;
                font-weight: 700;

                .ruble {
                    font-size: 32px;
                }
            }

            &-title {
                text-align: left;
                width: 135px;

            }

            &-date {
                text-align: right;
                width: 115px;
            }
        }

    }

}

.search {
    position: absolute;
    max-width: 1140px;
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    left: 50%;
    bottom: -200px;
    transform: translateX(-50%);
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
    border-radius: 2px;
    margin-bottom: 60px;

    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 110px;
        margin-bottom: 35px;


        &-input {
            max-width: 666px;
            min-height: 65px;
            width: 100%;
            border: none;
            box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
            padding-left: 30px;



            &::placeholder {
                color: #4a6385;

            }

        }

        &-btn {
            min-height: 65px;
            border: none;
            background-color: #2575e7;
            color: #fff;
            padding: 0 55px;
            box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
            cursor: pointer;

        }
    }

    &__info {

        &-list {
            margin-left: 137px;

            li:last-of-type {
                margin-left: 55px;
            }

            li+li {
                margin-left: 20px;
            }

        }
    }
}




















@import "media";