@import "slick";
@import "libs";
@import "fonts";
@import "global";


.pre-header {
    background-color: #2f3f54;
    min-height: 50px;

    &__inner {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contact {
        display: flex;
        color: #7b828d;

        a {
            margin-left: 45px;
            color: #7b828d;
        }

        &-email {
            padding-left: 25px;
            position: relative;

            &::before {
                content: '\f003';
            }
        }

        &-phone {
            padding-left: 25px;
            position: relative;

            &::before {
                content: '\f095';
            }

        }

    }

    .user-nav {
        color: #6e7988;


        .localization {
            padding-left: 25px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                background-image: url('../img/russia.svg');
                width: 16px;
                height: 16px;
                color: #fff;
            }
        }

        &__item {
            a {
                color: #6e7988;
            }
        }


        li+li {
            margin-left: 20px;
        }
    }
}

.header {
    min-height: 85px;

    &__inner {
        height: 85px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu {

        li+li {
            margin-left: 40px;
        }

        li a {
            color: #2f3f54;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

.hosting {
    min-height: 835px;
    background-image: url('../img/bg-pattern.png');

    &__inner {
        position: relative;
    }

    &__info {
        color: #fff;
        padding-top: 165px;


        &-title {
            font-size: 48px;
            line-height: 52px;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            margin-bottom: 25px;

        }

        &-price {
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 700;

            .ruble {
                font-size: 0.9em;
            }
        }

        &-menu {
            margin: 40px 0 50px;
            font-weight: 700;

            li {
                display: block;
                padding-left: 25px;
                position: relative;

                &::before {
                    content: '\f046';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    font-family: "icomoon";
                    color: #000;
                }
            }

            li a {
                color: #fff;
                font-size: 15px;
                line-height: 27px;
                font-weight: 700;

            }
        }

        &-btn {
            color: #fff;
            padding: 15px 45px;
            display: inline-block;
            border: 3px solid #fff;
            border-radius: 24px;
            background-color: #267ae9;
            margin-bottom: 15px;
            text-transform: uppercase;

        }
    }

    .imgs-wrapper {
        position: absolute;
        right: 5%;
        top: 37%;

        .large-server {
            margin-left: 30px;
        }

        .circle__info {
            width: 229px;
            height: 229px;
            border-radius: 50%;
            background-color: #fff;
            position: absolute;
            right: -137px;
            top: -68px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-price {
                font-size: 54px;
                font-weight: 700;
                margin-top: 10px;

                .ruble {}
            }

            &-title {
                text-align: left;
                width: 135px;

            }

            &-date {
                text-align: right;
                width: 115px;
            }
        }

    }

}

.search {
    position: absolute;
    max-width: 1140px;
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    left: 50%;
    bottom: -200px;
    transform: translateX(-50%);
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
    border-radius: 2px;
    margin-bottom: 60px;


    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 110px;
        margin-bottom: 35px;


        &-input {
            max-width: 666px;
            min-height: 65px;
            width: 100%;
            border: none;
            box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
            padding-left: 30px;



            &::placeholder {
                color: #4a6385;

            }

        }

        &-btn {
            min-height: 65px;
            border: none;
            background-color: #2575e7;
            color: #fff;
            padding: 0 55px;
            box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
            cursor: pointer;

        }
    }

    &__info {

        &-list {
            margin-left: 137px;

            li:last-of-type {
                margin-left: 55px;
            }

            li+li {
                margin-left: 20px;
            }

        }
    }
}

.services {
    margin-top: 290px;

    &__inner {
        display: flex;
    }

    &__block {
        display: flex;

        .small-block {
            max-width: 105px;
            width: 100%;
            min-height: 785px;
            background-color: #fff;
            box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
            position: relative;

            &__first,
            &__second,
            &__third {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 42px;
                height: 42px;

                top: 293px;
            }

            &__second {
                top: 503px;


            }

            &__third {
                top: 715px;


            }

        }

        .large-block {
            max-width: 555px;
            width: 100%;
            min-height: 785px;
            background-color: #267ae9;
            color: #fff;



            &__title {
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                font-size: 38px;
                line-height: 50px;
                margin-left: 40px;
                margin-top: 80px;
            }

            &__item {
                margin-top: 90px;
                margin-left: 40px;
                max-width: 355px;


                &+.large-block__item {
                    margin-top: 60px;
                }

                &-title {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 26px;
                    margin-bottom: 30px;

                }

            }

            &__item:last-of-type {
                .large-block__item-text {
                    margin-bottom: 65px;
                }
            }

        }

        margin-bottom: 130px;
    }

    &__info {
        max-width: 525px;
        margin-top: 50px;
        margin-left: 60px;

        &-title {
            font-family: "Roboto", sans-serif;
            font-size: 36px;
            font-weight: 700;
            line-height: 46px;
            margin-bottom: 35px;
        }
    }
}

.features {
    background-color: #fafafa;
    padding-top: 130px;
    padding-bottom: 100px;

    &__block {
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        margin-bottom: 130px; // remove later
        min-height: 290px;
        max-width: 1140px;
        background-color: #fff;
        box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);

        .feature__item {
            max-width: 380px;
            width: 100%;

            &-title {
                margin-top: 30px;
                font-weight: 500;
                font-family: "Roboto", sans-serif;
            }


            &:not(:last-of-type) {
                border-right: 2px dashed #e1e0e0;

            }
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-inner {
            max-width: 615px;

            .features__info-title {
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                font-size: 40px;
                line-height: 54px;
                margin-bottom: 55px;
            }

            .features__info-text {
                margin-bottom: 50px;
            }

            .features__info-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;



                li {
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    line-height: 52px;
                    display: inline-block;
                    padding-left: 40px;
                    position: relative;
                    width: 50%;


                    &::before {
                        content: '';
                        background-image: url('../img/check-circle.png');
                        width: 32px;
                        height: 32px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }

            .feature__info-price {
                font-family: "Roboto", sans-serif;
                font-size: 34px;
                line-height: 54px;
                margin-top: 60px;

                .ruble {
                    font-size: 0.65em;
                }
            }
        }

        .features__info-img {
            margin-top: -150px;
        }

    }
}

.pricing {
    padding: 130px 0 150px;

    &__inner {
        text-align: center;

        .pricing-title {
            margin-bottom: 40px;
        }

        .pricing-text {
            margin: 0 auto;
            max-width: 615px;
            padding: 0 15px;
            margin-top: 45px;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;

        .pricing__item {
            min-height: 660px;
            max-width: 360px;
            box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
            display: flex;
            flex-direction: column;
            align-items: center;
            float: left;
            margin-top: 120px;
            padding-top: 110px;
            position: relative;
            overflow: hidden;

            &-price {
                position: absolute;
                color: #fff;
                width: 280px;
                height: 365px;
                border-radius: 50%;
                background-color: #267ae9;
                top: -275px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                padding-bottom: 40px;
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                font-size: 28px;

                span {
                    font-size: 0.75em;
                    margin-bottom: -3px;
                }
            }

            &-inner {
                padding: 0 45px;

            }


            &-img {
                display: flex;

                align-items: center;

            }

            &-title {
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                font-size: 30px;
                margin: 35px 0 25px;
            }



            &-list {
                margin-top: 50px;

                .big {
                    font-size: 38px;
                    vertical-align: bottom;
                }


                li {
                    display: block;
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    color: #4a6385;
                    padding-left: 35px;
                    position: relative;

                    &::before {
                        content: '\f00c';
                        font-family: "icomoon";
                        position: absolute;
                        left: 0;
                    }
                }

                li+li {
                    margin-top: 20px;
                }
            }

            &-btn {
                display: block;
                width: 100%;
                height: 60px;
                text-align: center;
                background-color: #267ae9;
                color: #fff;
                border: none;
                padding: 17px 0;
                margin-top: 70px;
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                font-size: 17px;

            }
        }
    }
}

.reviews {
    text-align: center;
    background-color: #fafafa;

    &__items {

        .slick-list {
            margin: 0 -50px;


        }

        .slick-dots {
            margin-top: 40px;


            .slick-active button {
                background-color: #fff;

            }

            li {
                margin: 0 8px;
                font-size: 0;



                button {
                    width: 10px;
                    height: 10px;
                    border: 1px solid #267ae9;
                    padding: 0;
                    border-radius: 50%;
                    background-color: #267ae9;
                    outline: none;
                }
            }
        }



        .review__item {
            display: flex;
            max-width: 525px;
            width: 100%;
            margin: 0 50px;
            padding-bottom: 70px;


            img {
                border-radius: 50%;
            }

            &-container {
                max-width: 285px;
            }

            .blue-block {
                max-width: 195px;
                width: 100%;
                min-height: 350px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);




            }

            .white-block {
                max-width: 330px;
                width: 100%;
                min-height: 350px;
                display: flex;
                align-items: center;
                text-align: left;
                padding: 0 20px;
                background-color: #fff;
                font-size: 15px;
                box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);




                .review__item-author {
                    margin-top: 30px;
                }

            }
        }
    }
}

.partners {
    &__wrapper {
        display: flex;
        height: 275px;
        align-items: center;
        justify-content: space-between;
    }
}























@import "media";